.logo_set{
    height: 100px !important;
}
.locale-container {
    display: flex;
    justify-content: flex-end; /* Выравнивание по правому краю */
    padding: 10px; /* Отступ внутри блока */
}
.alert_danger_errors {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.header_reg_text {
    text-align: center;
    font-size: medium;
    padding-bottom: 10px;
}
.form_register {

}
.semi-transparent {
    opacity: 0.5; /* Полупрозрачная */
}
.btn-custom {
    width: 100%;
    max-width: 200px;
}
.cust_main_form {
    margin-top: 30px;
}