.logo_set{
    height: 100px;
}
.locale-container {
    display: flex;
    justify-content: flex-end; /* Выравнивание по правому краю */
    padding: 10px; /* Отступ внутри блока */
}
.alert_danger_errors {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.header_reg_text {
    text-align: center;
    font-size: medium;
    padding-bottom: 10px;
}
.form_register {

}
.semi-transparent {
    opacity: 0.5; /* Полупрозрачная */
}

/*#registerGif {*/
/*    position: sticky; !* Установите sticky позиционирование *!*/
/*    top: 50%; !* Позиционирование по вертикали *!*/
/*    left: 50%; !* Позиционирование по горизонтали *!*/
/*    transform: translate(-50%, -50%); !* Смещение на половину ширины/высоты *!*/
/*    z-index: 100; !* Убедитесь, что z-index достаточно высокий *!*/
/*    width: 100%; !* Ширина 100% для адаптивности *!*/
/*}*/

/*#registerGif img {*/
/*    max-width: 100%; !* Сохранение пропорций *!*/
/*    max-height: 80vh; !* Ограничить высоту *!*/
/*}*/
/*#registerGif1 {*/
/*    position: fixed; !* Установите sticky позиционирование *!*/
/*    top: 40%; !* Позиционирование по вертикали *!*/
/*    left: 38%;*/
/*    z-index: 100; !* Убедитесь, что z-index достаточно высокий *!*/
/*    width: 100%; !* Ширина 100% для адаптивности *!*/
/*}*/

/*#registerGif1 img {*/
/*    max-width: 100%; !* Сохранение пропорций *!*/
/*    max-height: 80vh; !* Ограничить высоту *!*/
/*}*/
